@use "../utils/" as u;
@use "../globals/" as g;

.grid {
  display: grid;
  width: 90vw;
  height: 90vh;
  padding: 30px;
  padding-top: 10px;
  gap: u.rem(30);
  grid-template-columns: 4fr 4fr 2fr;
  grid-template-rows: 1fr 4fr 1fr;

  &__section {
    border-radius: u.rem(12);
    background: g.$silver;
    box-shadow: g.$inner-shadow;
  }

  &__section--computer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: u.rem(14);
  }
  &__section--user {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: u.rem(14);
  }

  &__section--console {
    grid-column: 3/4;
    grid-row: 2 / 4;
  }
  &__section--intercom {
    grid-column: 1/3;
    grid-row: 3 / 4;
    padding: u.rem(12);
  }
}

.header-display {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: u.rem(90);
  grid-column: span 3;
  grid-row: span 1;
  gap: u.rem(30);

  &__ships {
    width: 100%;
    height: 60%;
    padding: 20px;
    background-color: rgb(216, 216, 216);
    margin: 0 auto;
    border-radius: u.rem(12);
    background: g.$silver;
    box-shadow: g.$inner-shadow;
  }
  &__ships--user {
    grid-column: 1/2;
  }

  &__ships--computer {
    grid-column: 2/3;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    grid-column: 3/4;
  }
}

.user__grid,
.computer__grid {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgb(46, 46, 46);
  box-shadow: g.$inner-shadow;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 3px;
  aspect-ratio: 1;
  overflow: hidden;
}

.user__grid--nine,
.computer__grid--nine {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.user__grid--ten,
.computer__grid--ten {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid__cell {
  border: 4px solid #0b1833;
  // width: 45px;
  // height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  position: relative;

  &--user {
    background-color: #0f50db;
  }

  &--computer {
    background-color: #0f50db;
  }
}

.cell__content {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #292929;
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ship__a,
.ship__b,
.ship__c,
.ship__s,
.ship__d {
  position: absolute;
  background-color: #2e2e2e;
  z-index: 10;
  border-radius: 20px;
  padding: 8px 10px 8px 10px;

  &--inner-ship {
    background-color: #959695;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &--horizontal {
    left: 0;
  }

  &--vertical {
    top: 0;
    left: 50%;
    transform: translateX(0%) rotate(90deg);
    transform-origin: top left;
    margin-left: 16px;
  }
}

.ship__a {
  width: 260px;
  height: 34px;
}
.ship__b {
  width: 190px;
  height: 34px;
}
.ship__c {
  width: 146px;
  height: 34px;
}
.ship__s {
  width: 148px;
  height: 34px;
}
.ship__d {
  width: 94px;
  height: 34px;
}

.intercom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;

  border-radius: u.rem(12);

  &__image-container {
    width: 20%;
    height: 100%;
    background-color: rgb(203, 208, 212);
    border-top-left-radius: u.rem(12);
    border-bottom-left-radius: u.rem(12);
    box-shadow: g.$inner-shadow;
  }

  &__message-container {
    width: 80%;
    height: 100%;
    background-color: rgb(25, 25, 26);
    border-top-right-radius: u.rem(12);
    border-bottom-right-radius: u.rem(12);
    box-shadow: g.$inner-shadow;
  }
}

.console {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: u.rem(12);
  gap: u.rem(12);

  &__btn {
    padding: u.rem(10) u.rem(16);
    background-color: rgb(206, 23, 23);
    color: white;
    font-weight: 700;
    width: 80%;
    border-radius: u.rem(12);
    cursor: pointer;
  }
}

.radar,
.controls {
  width: 100%;
  background-color: rgb(25, 25, 26);
  font-size: u.rem(18);
}

.radar {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: u.rem(12);
  border-top-right-radius: u.rem(12);

  &__circle {
    position: relative;
    width: 240px;
    height: 240px;
    border: 4px solid green;
    border-radius: 50%;
    background-color: rgb(2, 58, 2, 0.5);
    overflow: hidden;
  }

  &__scanner {
    position: absolute;
    width: 6px;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.1) 0%,
      rgba(0, 255, 0, 0.9) 70%,
      rgba(0, 255, 0, 1) 100%
    );
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
    animation: sweep 1.5s linear infinite;
  }
  .blip1 {
    top: 30%;
    left: 60%;
    animation-delay: 0s;
  }
  .blip2 {
    top: 70%;
    left: 50%;
    animation-delay: 0.5s;
  }
  .blip3 {
    top: 40%;
    left: 80%;
    animation-delay: 1s;
  }
  .blip4 {
    top: 50%;
    left: 10%;
    animation-delay: 1.5s;
  }
  .blip5 {
    top: 10%;
    left: 90%;
    animation-delay: 2s;
  }

  .radar__scanner::before {
    content: "";
    position: absolute;
    inset: -20px -10px -40px -10px;
    background: radial-gradient(
      ellipse at bottom center,
      rgba(0, 255, 0, 0.35) 0%,
      transparent 70%
    );
    pointer-events: none;
  }

  .radar__blip {
    width: 6px;
    height: 6px;
    background-color: #0f0;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    animation: blip-fade 2.5s infinite;
  }
}
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50%;
  border-bottom-left-radius: u.rem(12);
  border-bottom-right-radius: u.rem(12);

  &__grid {
    display: grid;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: u.rem(16);
  }

  &__display {
    width: 130px;
    height: 130px;
    padding: u.rem(8);
    background: g.$silver;
    border-radius: 50%;
    box-shadow: g.$inner-shadow;
  }

  &__dial {
    width: 100%;
    height: 100%;
    background-color: rgb(189, 189, 189);
    border-radius: 50%;
    box-shadow: g.$inner-shadow;
  }
}

@keyframes sweep {
  from {
    transform: translateX(-50%) translateY(-100%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-100%) rotate(360deg);
  }
}

@keyframes blip-fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
