@use "../utils/" as u;
@use "../globals/" as g;

.grid {
  display: grid;
  width: 82vw;
  height: 100vh;
  padding: 30px;
  padding-top: 10px;
  gap: u.rem(20);
  grid-template-columns: 4fr 4fr 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 0 auto;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 88vw;
    height: 92vh;
  }

  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    height: 92vh;
  }

  &__section {
    border-radius: u.rem(12);
    background: g.$silver;
    box-shadow: g.$inner-shadow;
  }

  &__section--computer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: u.rem(14);
  }
  &__section--user {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: u.rem(14);
  }

  &__section--console {
    grid-column: 3/4;
    grid-row: 2 / 4;
  }
  &__section--intercom {
    grid-column: 1/3;
    grid-row: 3 / 4;
    padding: u.rem(12);
  }
}

.header-display {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  height: u.rem(100);
  grid-column: span 3;
  grid-row: span 1;
  gap: u.rem(30);
}

.display {
  &__ships {
    width: 100%;
    height: 70%;
    padding: u.rem(8);
    background-color: rgb(216, 216, 216);
    margin: 0 auto;
    border-radius: u.rem(12);
    background: g.$silver;
    box-shadow: g.$inner-shadow;
  }
  &__ships--user {
    grid-column: 1/2;
  }

  &__ships--computer {
    grid-column: 2/3;
  }

  &__title {
    margin-left: auto;
    margin-right: auto;
    grid-column: 3/4;
    color: g.$text-colour;
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
