@use "../utils/" as u;

body .body {
  background-image: url("./../../assets/images/navy-fleet.jpg");
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.intro-pop-up {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 70%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0.8);
  border: 6px solid darkgrey;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: u.rem(25);

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 80%;
    height: 90%;
  }

  &__title {
    color: rgb(44, 44, 44);
    padding: 0;
    margin: u.rem(10);
    font-family: u.$logoFont;
    font-size: u.rem(56);
  }
}

.instructions-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions_main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.instructions-left,
.instructions-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: u.rem(25);
  color: rgb(37, 36, 36);
}

h2 {
  margin: u.rem(30) 0;

  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    font-size: u.rem(20);
    margin: u.rem(15) 0;
  }
}

ul {
  margin-top: u.rem(0);
}

p,
li {
  font-size: u.rem(18);
  color: rgb(37, 36, 36);
  font-family: u.$logoFont;
  line-height: u.rem(22);
  letter-spacing: u.rem(1.1);

  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    font-size: u.rem(15);
  }
}

p {
  margin-top: u.rem(12);
}

li {
  margin-top: u.rem(0);
}

.instructions-left {
  color: rgb(37, 36, 36);
}
.instructions-right {
  &__btn {
    padding: u.rem(16) u.rem(80);
    border-radius: u.rem(12);
    font-size: u.rem(22);
    background-color: #306b34;
    color: white;
    font-family: u.$logoFont;
    margin-left: auto;
    margin-top: auto;
    cursor: pointer;
    letter-spacing: u.rem(1.2);

    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      font-size: u.rem(18);
      padding: u.rem(16) u.rem(70);
    }
  }
}

.briefing__intro {
  color: rgb(37, 36, 36);
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

.start-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.start-left,
.start-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: u.rem(30);
}

img {
  width: 50%;
  height: 50%;
  margin-bottom: u.rem(50);
  margin-top: 0;
}

.signature {
  margin-top: u.rem(40);
  font-weight: 600;
  font-size: u.rem(20);
}
.start-right {
  align-items: center;
  gap: u.rem(70);
  padding-top: u.rem(80);
  font-family: u.$logoFont;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    margin-top: u.rem(60);
    padding-top: u.rem(0);
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    margin-top: u.rem(50);
    padding-top: u.rem(0);
  }

  &__btn {
    width: 300px;
    height: 70px;
    cursor: pointer;
    border-radius: u.rem(12);
    color: white;
    font-size: u.rem(24);
    font-weight: 600;

    @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
      width: 260px;
      height: 70px;
    }
    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      width: 240px;
      height: 65px;
    }
  }

  .btn-container {
    background-color: rgb(25, 25, 26);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: u.rem(12);
    padding: u.rem(60) u.rem(40);
    gap: u.rem(50);
  }
  &__btn--one,
  &__btn--two,
  &__btn--three {
    font-family: u.$logoFont;
    letter-spacing: u.rem(1.5);

    @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
      font-size: u.rem(20);
    }
    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      font-size: u.rem(18);
    }
  }

  &__btn--one {
    background-color: #306b34;
  }
  &__btn--two {
    background-color: #fe5f00;
  }

  &__btn--three {
    background-color: #e42c10;
  }
}
