@use "../utils/" as u;
@use "../globals/" as g;

.console {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: u.rem(12);
  gap: u.rem(12);

  &__btn {
    padding: u.rem(14) u.rem(16);
    background-color: rgb(220, 20, 20);
    color: white;
    font-weight: 700;
    width: 80%;
    border-radius: u.rem(12);
    cursor: pointer;
    margin: auto 0;
    font-size: u.rem(18);
    font-family: u.$logoFont;
    letter-spacing: u.rem(1.5);
  }
}

.radar,
.controls {
  width: 100%;
  background-color: rgb(25, 25, 26);
  font-size: u.rem(18);
  box-shadow: g.$inner-shadow;
}

.radar {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: u.rem(12);

  &__circle {
    position: relative;
    width: 240px;
    height: 240px;
    border: 4px solid #306b34;
    border-radius: 50%;
    background-color: rgba(2, 58, 2, 0.5);
    overflow: hidden;

    @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
      width: 210px;
      height: 210px;
    }

    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      width: 160px;
      height: 160px;
    }
  }

  &__scanner {
    position: absolute;
    width: 6px;
    height: 50%;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%, -100%);
    background: linear-gradient(
      to bottom,
      rgba(0, 255, 0, 0.1) 0%,
      rgba(0, 255, 0, 0.9) 70%,
      rgba(73, 132, 103, 1) 100%
    );
    animation: sweep linear infinite;

    &::before {
      content: "";
      position: absolute;
      inset: -20px -10px -40px -10px;
      background: radial-gradient(
        ellipse at bottom center,
        rgba(73, 132, 103, 0.35) 0%,
        transparent 70%
      );
      pointer-events: none;
    }
  }

  &__blip {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0f0;
    border-radius: 50%;
    opacity: 0;
    animation: blip-fade infinite;
  }

  .blip1 {
    top: 30%;
    left: 60%;
  }
  .blip2 {
    top: 70%;
    left: 50%;
  }
  .blip3 {
    top: 40%;
    left: 80%;
  }
  .blip4 {
    top: 50%;
    left: 10%;
  }
  .blip5 {
    top: 10%;
    left: 90%;
  }
}

.radar--top {
  .radar__scanner {
    animation-duration: 1.5s;
  }

  .radar__blip {
    animation-duration: 2.5s;
  }
}

.radar--bottom {
  .radar__scanner {
    animation-duration: 4s;
  }

  .radar__blip {
    animation-duration: 4s;
  }
}

@keyframes sweep {
  from {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -100%) rotate(360deg);
  }
}

@keyframes blip-fade {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  30% {
    opacity: 1;
  }
}
