@use "../utils/" as u;
@use "../globals/" as g;

.intercom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;

  border-radius: u.rem(12);

  &__image-container {
    width: 18%;
    height: 100%;
    background-color: rgb(203, 208, 212);
    border-top-left-radius: u.rem(12);
    border-bottom-left-radius: u.rem(12);
    box-shadow: g.$inner-shadow;
    padding: u.rem(12);
    padding-bottom: u.rem(2);
    background-color: rgb(25, 25, 26);
  }
}

.image-container {
  &__image {
    width: 90%;
    height: 100%;
    background-color: rgb(25, 25, 26);
  }
}

.message-container {
  width: 82%;
  height: 100%;
  background-color: rgb(25, 25, 26);
  border-top-right-radius: u.rem(12);
  border-bottom-right-radius: u.rem(12);
  box-shadow: g.$inner-shadow;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: u.rem(14);

  &__name {
    color: rgb(54, 209, 54);
    font-size: u.rem(16);
    line-height: u.rem(40);
  }
}

.message-container__message {
  color: #479b4c;
  font-size: u.rem(24);
  letter-spacing: u.rem(2);
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.message-container__message.is-typing {
  animation: typing 2.5s steps(35, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100ch;
  }
}
