@use "../utils/" as u;
@use "../globals/" as g;

.user__grid,
.computer__grid {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgb(46, 46, 46);
  box-shadow: g.$inner-shadow;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 3px;
  aspect-ratio: 1;
  overflow: hidden;

  // @media (max-width: #{u.em(1601)}) {
  //   height: 90%;
  //   width: 100%;
  // }
}

.user__grid--nine,
.computer__grid--nine {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.user__grid--ten,
.computer__grid--ten {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid__cell {
  border: 4px solid #0b1833;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  position: relative;

  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    border: 2px solid #0b1833;
  }

  &--user {
    background-color: #0f50db;
  }

  &--computer {
    background-color: #0f50db;
  }
}

.cell__content {
  position: absolute;

  border-radius: 50%;
  background-color: #292929;

  &--nine {
    width: 25px;
    height: 25px;

    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      width: 18px;
      height: 18px;
    }
  }
  &--ten {
    width: 23px;
    height: 23px;

    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      width: 16px;
      height: 16px;
    }
  }
  &--eleven {
    width: 21px;
    height: 21px;

    @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
      width: 14px;
      height: 14px;
    }
  }
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
