@use "../utils/" as u;
@use "../globals/" as g;

.ship__a,
.ship__b,
.ship__c,
.ship__s,
.ship__d {
  position: absolute;
  background-color: #2e2e2e;
  z-index: 10;
  border-radius: 20px;
  border: 4px solid #1a1919;
  &--inner-ship {
    background-color: #747373;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &--horizontal {
    left: 0;
  }

  &--vertical {
    top: 0;
    left: 50%;
    transform: translateX(0%) rotate(90deg);
    transform-origin: top left;
  }
}

.a__vertical--nine,
.b__vertical--nine,
.c__vertical--nine,
.s__vertical--nine,
.d__vertical--nine {
  margin-left: 20px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    margin-left: 18px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    margin-left: 15px;
  }
}

.a__horizontal--nine {
  width: 290px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 260px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 200px;
    height: 30px;
  }
}
.b__horizontal--nine {
  width: 230px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 205px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 155px;
    height: 30px;
  }
}
.c__horizontal--nine {
  width: 170px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 205px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 115px;
    height: 30px;
  }
}
.s__horizontal--nine {
  width: 170px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 150px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 115px;
    height: 30px;
  }
}
.d__horizontal--nine {
  width: 110px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 95px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 75px;
    height: 30px;
  }
}

.a__vertical--nine {
  width: 290px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 260px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 200px;
    height: 30px;
  }
}
.b__vertical--nine {
  width: 230px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 205px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 155px;
    height: 30px;
  }
}
.c__vertical--nine {
  width: 170px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 205px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 115px;
    height: 30px;
  }
}
.s__vertical--nine {
  width: 170px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 150px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 115px;
    height: 30px;
  }
}
.d__vertical--nine {
  width: 110px;
  height: 40px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 95px;
    height: 35px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 75px;
    height: 30px;
  }
}

.a__horizontal--ten,
.b__horizontal--ten,
.c__horizontal--ten,
.s__horizontal--ten,
.d__horizontal--ten {
  height: 34px;
}

.a__vertical--ten,
.b__vertical--ten,
.c__vertical--ten,
.s__vertical--ten,
.d__vertical--ten {
  margin-left: 16px;
  height: 34px;
}

.a__horizontal--ten {
  width: 255px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 230px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 175px;
    height: 28px;
  }
}
.b__horizontal--ten {
  width: 205px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 180px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 140px;
    height: 28px;
  }
}
.c__horizontal--ten {
  width: 150px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 135px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 105px;
    height: 28px;
  }
}
.s__horizontal--ten {
  width: 150px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 135px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 105px;
    height: 28px;
  }
}
.d__horizontal--ten {
  width: 96px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 85px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 70px;
    height: 28px;
  }
}

.a__vertical--ten {
  width: 255px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 230px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 175px;
    height: 28px;
  }
}
.b__vertical--ten {
  width: 205px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 180px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 140px;
    height: 28px;
  }
}
.c__vertical--ten {
  width: 150px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 135px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 105px;
    height: 28px;
  }
}
.s__vertical--ten {
  width: 150px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 135px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 105px;
    height: 28px;
  }
}
.d__vertical--ten {
  width: 96px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 85px;
    height: 34px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 70px;
    height: 28px;
  }
}

.a__horizontal--eleven,
.b__horizontal--eleven,
.c__horizontal--eleven,
.s__horizontal--eleven,
.d__horizontal--eleven {
  height: 32px;
}

.a__vertical--eleven,
.b__vertical--eleven,
.c__vertical--eleven,
.s__vertical--eleven,
.d__vertical--eleven {
  margin-left: 16px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    margin-left: 15px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    margin-left: 13px;
  }
}

.a__horizontal--eleven {
  width: 232px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 210px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 160px;
    height: 24px;
  }
}
.b__horizontal--eleven {
  width: 185px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 165px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 130px;
    height: 24px;
  }
}
.c__horizontal--eleven {
  width: 135px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 125px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 95px;
    height: 24px;
  }
}
.s__horizontal--eleven {
  width: 135px;

  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 125px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 95px;
    height: 24px;
  }
}
.d__horizontal--eleven {
  width: 86px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 80px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 60px;
    height: 24px;
  }
}

.a__vertical--eleven {
  width: 232px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 210px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 160px;
    height: 24px;
  }
}
.b__vertical--eleven {
  width: 185px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 165px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 130px;
    height: 24px;
  }
}
.c__vertical--eleven {
  width: 135px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 122px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 95px;
    height: 24px;
  }
}
.s__vertical--eleven {
  width: 135px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 122px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 95px;
    height: 24px;
  }
}
.d__vertical--eleven {
  width: 86px;
  @media (max-width: #{map-get(u.$breakpoint-down, "desktop")}) {
    width: 80px;
    height: 30px;
  }
  @media (max-width: #{map-get(u.$breakpoint-down, "laptop")}) {
    width: 60px;
    height: 24px;
  }
}
