@use "colours" as c;
@use "../utils/" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: c.$bg;
  color: c.$text-colour;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  background-color: c.$bg;
}
