@use "functions" as f;

$breakpoints-up: (
  "medium": f.em(700),
  "large": f.em(900),
  "xlarge": f.em(1440),
);

$breakpoint-down: (
  "small": f.em(699.98),
  "medium": f.em(899.98),
  "large": f.em(1339.98),
  "laptop": f.em(1440.98),
  "desktop": f.em(1600.98),
  "x-large": f.em(1919.98),
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down, $size)) {
    @content;
  }
}
